.error-page-wrap {

}
.error-content {
    text-align: center;
	flex: 1;
	align-self: center;
	padding: 60px 0 0;
	.error-text {
		max-width: 580px;
		margin-left: auto;
		margin-right: auto;
	}
}
.error-img {
	text-align: center;
}